doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Simple Transactional Email
        
        include _style

    body
        span.preheader This is preheader text. Some clients will show this text as a preview.
        table.body(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td &nbsp;
                    td.container
                        .content
                            // START CENTERED WHITE CONTAINER
                            table.main(role='presentation')
                                // START MAIN CONTENT AREA
                                tbody
                                    tr
                                        td.wrapper
                                            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                tbody
                                                    tr
                                                        td
                                                            p Hi #{firstName},
                                                            p
                                                                |#{from} is inviting you to join the M-LiNT group.
                                                            p
                                                                |Please accept the invitation and complete the desired information.
                                                            table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                                tbody
                                                                    tr
                                                                        td(align='left')
                                                                            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                                                                tbody
                                                                                    tr
                                                                                        td
                                                                                            a(href=`${url}`, target='_blank') Accept Invitation
                                                            p Thank you 
                                    // END MAIN CONTENT AREA
                                    // END CENTERED WHITE CONTAINER
                                    // START FOOTER
                                    .footer
                                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                                            tbody


                                                tr
                                                    td.content-block.powered-by
                                                        | Powered by 
                                                        a(href='#') M-Lint
                                                        | .
                                    // END FOOTER
                    td &nbsp;